<header class="menu">
        <div class="container">
                <a class="logo" href="/">ELSP</a>
                <span class="mobile-btn"></span>
                <nav class="menu-nav mobile-menu">
                        <ul>
                            <li><a href="/">Insert Data</a></li>
                            <li><a href="/results">See All Problems</a></li>
                        </ul>
                </nav>
        </div>
</header>