<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/header %>
    <section class="hero is-info is-fullheight is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Oops, something went wrong
            </h1>
            <h2 class="subtitle">
              We're sorry. Maybe.
            </h2>
          </div>
        </div>
      </section>
    <script src="/javascripts/burguer.js"></script>
</body>

</html>