<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/header %>
    <section class="section presenting ">
        <div class="container">
            <h1 class="title">
                Economic Lot Scheduling Problem
            </h1>
            <p class="subtitle">
                To obtain an optimal solution fill the inputs with the respective values:
            </p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <form class="form" action="/" method="POST">
                <div class="field">
                    <label class="label">Cost of item in production</label>
                    <div class="control">
                        <input name="dat[p]" class="input" type="text" placeholder="Production unit cost">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Cost of setup to product the item</label>
                    <div class="control">
                        <input name="dat[q]" class="input" type="text" placeholder="Production setup cost">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Cost of hold the product in the inventory</label>
                    <div class="control">
                        <input name="dat[hcost]" class="input" type="text" placeholder="Inventory holding costut">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Number of periods of time</label>
                    <div class="control">
                        <input name="dat[NT]" class="input periods" type="text" placeholder="Number of periods">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Inventory initial level</label>
                    <div class="control">
                        <input name="dat[sInit]" class="input" type="text" placeholder="Initial level">
                    </div>
                </div>
                <div class="field dj">
                    <label class="label">Demand Forecasts for each month</label>
                    <div class="control">
                        <input name="dj[d0]" class="input" type="text" placeholder="D0">
                    </div>
                </div>
                <!-- <div>
                    <a class="button is-text add-form">Add demand input</a>
                </div> -->
                <div>
                    <button class="button is-primary submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>

    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/burguer.js"></script>
</body>

</html>